<%- include("../partials/header") %>

<div class="container">
	<legend>
		<h1>Edit review</h1>
	</legend>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<form action="/shops/<%= shop_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<label for="comment[text]">Edit Comment <span class="red">*</span></label>
					<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" autofocus>
				</div>
				<div class="form-group">
					<label for="comment[text]">Edit Rating <span class="red">*</span></label>
					<input class="form-control" type="number" min="1" max="5" step="1" name="comment[rating]" value="<%= comment.rating %>" autofocus>
				</div>
				<div class="form-group">
					<p class="float-right text-right"><span class="red">* Required</span></p>
				</div>
				<div class="form-group" style="width:20%; margin:20px auto;">
					<button class="mycentre btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>