<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<legend>
			<h1>Edit your comment</h1>
		</legend>
		<div class="col-md-12">
			<form action="/shops/<%= shop_id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>" autofocus>
				</div>
				<div class="form-group" style="width:20%; margin:20px auto;">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
				</div>
			</form>
			<a href="/shops">Go Back</a>	
		</div>
	</div>
</div>

<%- include("../partials/footer") %>