<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<legend>
			<h1>Edit <%= shop.name %></h1>
		</legend>
		<div class="col-md-12">
			<form action="/shops/<%= shop._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label for="shop[name]">Shop's Name</label>
					<input class="form-control" type="text" name="shop[name]" value="<%= shop.name %>" autofocus>
				</div>
				<div class="form-group">
					<label for="shop[image]">Shop's Image</label>
					<input class="form-control" type="file" name="shop[image]" accept="image/*" autofocus>
				</div>
				<div class="form-group">
					<label for="shop[contact]">Shop's Contact No.</label>
					<input class="form-control" type="number" name="shop[contact]" value="<%= shop.contact %>" autofocus>
				</div>
				<div class="form-group">
					<label for="shop[address]">Shop's Address</label>
					<input class="form-control" type="text" name="shop[address]" value="<%= shop.address %>" autofocus>
				</div>
				<div class="form-group" style="width:20%; margin:20px auto;">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
				</div>
			</form>
			<a href="/shops">Go Back</a>	
		</div>
	</div>
</div>

<%- include("../partials/footer") %>